<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About
                <small>Zero-Waste Mysuru</small>
            </h2>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/images/Mysuru_Junction.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>What Is Zero-Waste Mysuru?</h3>
            <p><span style="font-size:120%"><strong><em>We</em></strong></span> are Zero-Waste Mysuru (ZWM), an informal group of concerned citizens who have come together to conserve and preserve the earth's environment and natural resources, starting with the environment and resources of Mysuru. At the present, we are making two big efforts. The first and primary effort is to improve upon Mysuru's status as the cleanest city in India by promoting sustainable waste management in the city. The second effort is to conserve clean water for the city and, since water can be recycled and needs to be shared, for South India.</p>
	    <h3>Who Is Zero-Waste Mysuru?</h3>
            <p><span style="font-size:120%"><strong><em>Sri Divyesh Nagaraj</em></strong></span>, Convener of the <a href="http://www.naredco.in/events-details.asp?id=42&prYear=2016">Mysuru branch</a> of NAREDCO, the <a href="http://naredco.in/">National Real Estate Development Council</a> created the WhatsApp group "Apartments Mysuru-NAREDCO" for the purpose of discussing experiences and issues related to waste management in Mysuru. Membership is currently open to officers of <a href="http://dpal.kar.nic.in/.%5C17%20of%201973%20(E).pdf" target="_blank">apartment-owner associations</a> and <a href="https://www.karnataka.com/faq/resident-associations-bangalore/" target="_blank">resident associations</a> in Mysuru. Others with keen interest can apply. See the <a href="/pages/contact" target="_blank">Contact</a> page.
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Some Faces</h3>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/Divyesh_Nagaraj.jpg" alt="Divyesh Nagaraj">
                <div class="caption">
                    <h4>Divyesh Nagaraj<br>
                        <small>Convener, Mysuru Branch of NAREDCO</small>
                    </h4>
                    <p>Creator of and Group Admin for the WhatsApp group.  Creator of the Facebook group.</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/divyesh.nagaraj"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/divyesh-nagaraj-74955520/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/115770388745043029898"><i class="fa fa-2x fa-google-plus-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/Sandeep_Kumar.jpg" alt="Divyesh N.">
                <div class="caption">
                    <h4>Sandeep Kumar Venkateshaiah<br>
                        <small>Manager at NAREDCO</small>
                    </h4>
                    <p>Group Admin for the WhatsApp group.</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/sandeepkumar.venkateshaiah"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/Tom_Elam.jpg" alt="">
                <div class="caption">
                    <h4>Tom Elam<br>
                        <small>President, Elam & Associates</small>
                    </h4>
                    <p>Creator and maintainer of this website.</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/tomelam"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/tomelam/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="https://twitter.com/tomelam"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/104293723893521677134"><i class="fa fa-2x fa-google-plus-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
