<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact
                <small>Zero-Waste Mysuru</small>
            </h2>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Contact Details Column -->
        <div class="col-md-6">
            <p><i class="fa fa-phone"></i>
                <abbr title="Mobile">M</abbr>: +91 74117-96800 (Divyesh Nagaraj)</p>
            <p><i class="fa fa-phone"></i>
                <abbr title="Mobile">M</abbr>: +91 91083-63211 (Sandeep Kumar, Manager)</p>
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:info@zwm.org.in">info@zwm.org.in</a></p>
            <p><i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/groups/1766717203581961/"><i class="fa fa-facebook-square fa-2x"></i>&nbsp;Zero-Waste Mysuru Facebook group</a>
                </li>
                <li>
                    <a href="http://zwm.org.in/"><i class="fa fa-bookmark-o fa-2x"></i>&nbsp;Zero-Waste Mysuru website and open discussions</a>
                </li>
                <li>
                    <i class="fa fa-whatsapp fa-2x"></i>&nbsp;Zero-Waste Mysuru WhatsApp group</a>
                </li>
            </ul>
	    <p>To join the WhatsApp group, contact Divyesh or Sandeep on their mobile numbers, shown above.</p>
	    <p>To join the Facebook group, go to the <a href="https://www.facebook.com/groups/1766717203581961/">Zero-Waste Mysuru</a> page on Facebook and click "Join Group" in the top-right corner.</p>
	    <p>To join the website, go to the <a href="/users/sign_up">Sign up</a> page by clicking "Sign Up" in the top-right corner of any page of the website. You will need to enter your email address. After signing up, you can post messages in the <a href="/forum">Forum</a> area of the website. Occasional email newsletters might be sent out later. Tom will continue to add new features to the website.</p>
	    <p>Business owners, institutions, hotel owners, apartment-owners associations, resident association members, choultry owners, hostel wardens, mall managers, and people who are disposing large waste are especially encouraged to contact Divyesh or Sandeep.</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
