<%# add navigation links to this file %>
<li><%= link_to 'Forum', '/forum' %></li>
<li><%= link_to 'Beginnings', page_path('beginnings') %></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
